.wrapper {
    padding: 16px 0px;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}
.title {
    color: rgba(22, 24, 35, 0.75);
    font-size: 14px;
    font-family: var(--primary-font-family);
    font-weight: 700;
    line-height: 20px;

    padding: 0px 8px;
    margin-bottom: 8px;
}
.footer {
    color: var(--primary-color);
    font-size: 14px;
    font-family: var(--primary-font-family);
    font-weight: 600;
    line-height: 20px;

    margin-top: 8px;
    padding: 0px 8px;
}

// --------- Item Account ------------

.item {
    display: flex;
    align-items: center;
    padding: 8px;

    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-radius: 4px;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: background-color ease-in-out 200ms;
    }
}

.user-avatar {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 12px;
}

.user-infor {
}
.user-name {
    color: rgb(22, 24, 35);
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    max-width: 260px;
}
.user-nick-name {
    color: rgba(22, 24, 35, 0.75);
    font-family: var(--primary-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    max-width: 260px;
}

// ------------- Tippy Account -------------

.tippy-item {
    width: 320px;
    padding: 20px;
    margin-top: -8px;
}

.tippy-head {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    justify-content: space-between;
}

.tippy-user-avatar {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 12px;
}
.tippy-btn {
    min-width: 106px;
    min-height: 28px;
}

.tippy-body {
    display: flex;
    flex-direction: column;
    color: rgb(22, 24, 35);
}

.tippy-user-name {
    color: rgb(22, 24, 35);
    font-family: Sofiapro;
    font-size: 18px;
}

.tippy-user-nick-name {
    color: rgb(22, 24, 35);
    font-family: var(--primary-font-family);
    font-size: 14px;
    font-weight: 600;
}

.tippy-end {
    margin-top: 8px;
    font-size: 17px;
    font-family: var(--primary-font-family);
}

.tippy-numer {
    color: rgb(22, 24, 35);
    font-weight: 700;

    margin-right: 6px;
}

.tippy-unit {
    color: rgba(22, 24, 35, 0.75);

    margin-right: 12px;
}
