.container {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-items: center;
    width: 375px;
    margin: auto;
}

.title {
    color: rgb(22, 24, 35);
    font-size: 32px;
    font-family: Sofiapro;
    font-weight: bold;
    margin: 16px 0px;
    text-align: center;
}

.header {
    color: rgb(22, 24, 35);
    font-size: 15px;
    font-family: var(--primary-font-family);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;

    a {
        color: rgba(22, 24, 35, 0.75);
        font-size: 12px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.phone-input,
.email-input {
    display: flex;
    width: 100%;
    height: 44px;
    margin-bottom: 9px;

    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
}

.zipcode {
    display: flex;
    padding: 12px;
    align-items: center;
    font-size: 14px;
    position: relative;

    cursor: pointer;

    .input-zipcode {
        font-size: 16px;
        line-height: 1;
        color: rgb(22, 24, 35);
        margin-right: 12px;
    }
}

.zipcode::after {
    content: '';
    width: 1px;
    height: 30px;
    background-color: rgba(22, 24, 35, 0.12);
    position: absolute;
    right: 0px;
}

.input-phone,
.input-email {
    background-color: transparent;
    padding: 1px 0px 1px 12px;

    flex-grow: 1;
    caret-color: var(--primary-color);

    font-size: 16px;
    font-family: var(--primary-font-family);
}
::placeholder {
    color: rgb(117, 117, 117);
}

.digit-code-input,
.password-input {
    width: 100%;
    height: 47px;
    margin-bottom: 9px;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-input {
    height: 44px;
}

.input-code,
.input-password {
    background-color: transparent;
    padding: 1px 0px 1px 12px;
    font-size: 16px;
    font-family: var(--primary-font-family);

    width: 70%;
    caret-color: var(--primary-color);
}

.btn-send-code {
    background-color: transparent;
    color: rgba(22, 24, 35, 0.34);
    font-family: var(--primary-font-family);
    font-weight: 600;

    padding: 0px 16px;
    width: 30%;

    border: none;
    border-left: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 0%;
    cursor: not-allowed;
}
.showpass {
    padding-right: 16px;
    font-size: 20px;
    cursor: pointer;

    .icon-warning-error {
        font-size: 14px;
        vertical-align: middle;
    }

    .icon-showpass {
        vertical-align: middle;
        margin-left: 16px;
    }
}

.footer {
    display: flex;
    align-items: center;

    a {
        cursor: pointer;
        color: rgba(22, 24, 35, 0.75);
        font-size: 12px;
        font-family: var(--primary-font-family);
        font-weight: 600;
        &:hover {
            text-decoration: underline;
        }
    }

    span {
        width: 1px;
        height: 12px;
        margin: 0px 16px;
        background-color: rgba(22, 24, 35, 0.12);
        display: inline-block;
    }
}

.btn-submit {
    margin-top: 21px;

    height: 46px;
}

.go-back {
    margin-top: 40px;

    font-size: 14px;
    font-family: var(--primary-font-family);
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.error {
    border: 1px solid rgb(255, 76, 58) !important;

    input {
        color: rgb(255, 76, 58) !important;
    }
}

.error-text {
    margin-bottom: 4px;

    font-size: 12px;
    font-family: var(--primary-font-family);
    line-height: 15px;
    color: rgb(255, 76, 58);
}
